# Acá ponemos las variables que usamos en el .env para tener de referencia al momento de subir/clonar el repo
# Los valores son de ejemplo, acá no se ponen los valores de verdad
DB_HOST=localhost
DB_NAME=el_nombre_de_tu_db
DB_USER=tu_user_de_la_db
DB_PASS=tu_password_de_la_db